---
import BlogLayout from "../../layouts/BlogLayout.astro";

import getReadingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await Astro.glob("./r/*.md");
  return Array.from(posts).map((p) => {
    return {
      params: {
        post: p.frontmatter.slug,
      },
      props: {
        name: p.frontmatter.slug,
        title: p.frontmatter.title,
        tags: p.frontmatter.tags,
        content: p.compiledContent(),
        text: p.rawContent(),
      },
    };
  });
}
const { title, content, text, tags } = Astro.props;
const time = getReadingTime(text.toString());
// console.log(tags);
---

<BlogLayout title={title}>
  <p class="text-zinc-700 dark:text-zinc-400 mb-1">
    {time.text}
  </p>
  <div class="mb-2 flex gap-2 items-center">
    {
      tags.map((tag: string) => (
        <a href={`/tags/${tag.toLowerCase()}`}>
<span class="inline-flex items-center gap-1 rounded-full text-xs bg-zinc-400 dark:bg-zinc-600 font-semibold px-2 py-1 hover:text-emerald-800 dark:hover:text-emerald-600 no-underline">
            {tag}
          </span>
        </a>
      ))
    }
  </div>
  <article set:html={content} />
</BlogLayout>
